
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="fromCity" placeholder="Enter departure city" />
            <input type="text" name="toCity" placeholder="Enter arrival city" />
            <input type="text" name="airplane" placeholder="Enter airplane name" />
            <input type="number" name="price" placeholder="Enter price of the flight">
            <input type="date" name="departureDate">
            <input type="time" name="departureTime">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Fill out this form to find an airline ticket for you</div>
    <form method="post" action="filter">
        <input type="text" name="fromCity" placeholder="Departure city">
        <input type="text" name="toCity" placeholder="Arrival city">
        <input type="date" name="searchFlightDate">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Find</button>
    </form>
    {{#flights}}
        <br>Flight id: <b>{{id}}</b>,
        From city: <b>{{fromCity}}</b>,
        To city: <b>{{toCity}}</b>,
        Airplane: <b>{{airplane}}</b>,
        Departure date: <b>{{departureDate}}</b>,
        Departure time: <b>{{departureTime}}</b>,
        Price: <b>{{price}}</b> tenge.
    {{/flights}}
</body>
</html>